
.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 10px;
  color: white;
}

/* HERO */
.hi-hero {
  height: 70vh;
  align-items: center;
}

/* LEFT HERO */
.hi-left-hero {
  background: #0084B2;
  justify-content: flex-end;
}
.hi-left-hero .content {
  width: min-content;
  text-align: right;
}
.hi-left-hero .content span {
  color: #fff;
  font-size: 10vw;
  line-height: 9vw;
  font-weight: 900;
}

/* RIGHT HERO */
.hi-right-hero {
  background: #F8F8F8;
}

.hi-right-hero li {
  list-style: none;
}

.hi-right-hero li img {
  width: 10vh;
  height: auto;
}

.hi-hero .filter-color {
  filter: invert(50%) sepia(14%) saturate(1319%) hue-rotate(262deg) brightness(89%) contrast(89%);
}

.hi-hero .filter-color:hover {
  filter: invert(74%) sepia(63%) saturate(562%) hue-rotate(279deg) brightness(83%) contrast(81%);
}

.hi-hero li:hover  {
    transform: translateX(10px);
}

.hi-hero li {
  transition: all .3s linear;
} 




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
